@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white !important;
}
/* Form Section */

#contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#div_contact {
  width: 65%;
  height: auto;
  padding-top: 110px;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#div_contact h1 {
  margin: 20px 0;
}

#div_contact p {
  margin-top: 5px;
}

#contact_div {
  width: 55%;
  height: auto;
  display: flex;
  justify-content: end;
  padding: 50px 20px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 20px;
}

.column {
  width: 250px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px 0px grey;
  border: none;
  border-radius: 10px;
}

textarea {
  border-radius: 10px;
  box-shadow: inset 0 0 3px 0px grey;
  border: none;
  width: 520px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
}

button {
  padding: 10px;
  background-color: #009ddc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Clerk */
.cl-button {
  background-color: #0775ac !important;
  border: none;
  box-shadow: none !important;
  padding: 10px;
  color: white !important;
}
.cl-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px 0px grey;
  border: none;
  border-radius: 10px;
}
.cl-formFieldLabel {
  font-weight: bold;
}
.cl-formFieldInputShowPasswordButton {
  background-color: var(--alpha) !important;
  color: var(--accentHover) !important;
  background-color: unset !important;
  color: rgba(0, 0, 0, 0.41) !important;
  cursor: default;
}
.cl-internal-1hp5nqm,
.cl-internal-1dauvpw {
  display: none;
}
.cl-userButtonTrigger {
  border: 2px solid #0775ac;
  box-shadow: 0 0 5px 4px black;
  padding: 0;
  background-color: white;
  width: 40px;
  height: 40px;
}
.cl-avatarBox {
  width: 100%;
  height: 100%;
}
